In [3]:
import os
import pandas as pd

In [4]:
os.makedirs('Data/',exist_ok=True) # Confirm folder created
os.listdir("Data/")

['title_akas.csv.gz', 'title_basics.csv.gz', 'title_ratings.csv.gz']

In [5]:
url1="https://datasets.imdbws.com/title.ratings.tsv.gz"
url2="https://datasets.imdbws.com/title.akas.tsv.gz"
url3="https://datasets.imdbws.com/title.basics.tsv.gz"

In [6]:
ratings  = pd.read_csv(url1, sep='\t', low_memory=False)
akas  = pd.read_csv(url2, sep='\t', low_memory=False)
basics = pd.read_csv(url3, sep='\t', low_memory=False)

In [ ]:
akas = akas[akas['region'] == 'US']

In [8]:
import numpy as np

akas = akas.replace('\\N', np.nan)

In [9]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers =basics['tconst'].isin(akas['titleId'])
keepers

0            True
1            True
2           False
3           False
4            True
            ...
10103805    False
10103806    False
10103807    False
10103808    False
10103809    False
Name: tconst, Length: 10103810, dtype: bool

In [10]:
basics = basics.replace('\\N', np.nan)

In [11]:
#Drop null runtimeMinutes/genres:
basics = basics.dropna(subset=['runtimeMinutes','genres'])

In [12]:
#Convert startYear to float:
basics['startYear'] = basics['startYear'].astype(float)

In [13]:
#Filter years 2000-2021:
basics = basics[(basics['startYear'] >= 2000) & (basics['startYear'] <= 2021)]

In [16]:
# Filter out documentaries
basics = basics[basics['genres'] != 'Documentary']

print(basics.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1718930 entries, 33800 to 10103809
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       float64
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: float64(1), object(8)
memory usage: 131.1+ MB
None

In [17]:
basics = basics[keepers]
basics

C:\Users\jezep\AppData\Local\Temp\ipykernel_42048\3967613893.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  basics = basics[keepers]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
33800,tt0034413,short,Youth Gets a Break,Youth Gets a Break,0,2001.0,NaN,20,Short
34800,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
49491,tt0050396,short,Final Curtain,Final Curtain,0,2012.0,NaN,20,"Horror,Short"
61112,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
63745,tt0065047,short,The Sun's Gonna Shine,The Sun's Gonna Shine,0,2014.0,NaN,10,"Documentary,Music,Short"
...,...,...,...,...,...,...,...,...,...
10103498,tt9916204,tvEpisode,Better Angels,Better Angels,0,2019.0,NaN,42,"Drama,Thriller"
10103503,tt9916214,short,Drown the Clown,Drown the Clown,0,2019.0,NaN,8,"Drama,Short"
10103523,tt9916254,video,Big Tit Cream Pie 32,Big Tit Cream Pie 32,1,2015.0,NaN,226,Adult
10103569,tt9916348,video,Ancient World Exposed,Ancient World Exposed,0,2019.0,NaN,67,History
10103576,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History"

In [18]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keeper =ratings['tconst'].isin(akas['titleId'])
keeper

0           True
1           True
2          False
3          False
4           True
           ...
1340666    False
1340667    False
1340668    False
1340669    False
1340670    False
Name: tconst, Length: 1340671, dtype: bool

In [19]:
ratings = ratings[keeper]
ratings

            tconst  averageRating  numVotes
0        tt0000001            5.7      1990
1        tt0000002            5.8       264
4        tt0000005            6.2      2647
5        tt0000006            5.0       182
6        tt0000007            5.4       829
...            ...            ...       ...
1340632  tt9916200            8.1       233
1340633  tt9916204            8.1       267
1340640  tt9916348            8.3        18
1340641  tt9916362            6.4      5486
1340646  tt9916428            3.6        16

[506415 rows x 3 columns]

In [20]:
## Save current dataframe to file.
basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)

In [21]:
# Open saved file and preview again
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0034413,short,Youth Gets a Break,Youth Gets a Break,0,2001.0,NaN,20,Short
1,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
2,tt0050396,short,Final Curtain,Final Curtain,0,2012.0,NaN,20,"Horror,Short"
3,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
4,tt0065047,short,The Sun's Gonna Shine,The Sun's Gonna Shine,0,2014.0,NaN,10,"Documentary,Music,Short"

In [22]:
## Save current dataframe to file.
akas.to_csv("Data/title_akas.csv.gz",compression='gzip',index=False)

In [23]:
# Open saved file and preview again
akas = pd.read_csv("Data/title_akas.csv.gz", low_memory = False)
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0.0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0.0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0.0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0.0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0.0

In [24]:
## Save current dataframe to file.
ratings.to_csv("Data/title_ratings.csv.gz",compression='gzip',index=False)

In [25]:
# Open saved file and preview again
ratings = pd.read_csv("Data/title_ratings.csv.gz", low_memory = False)
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1990
1  tt0000002            5.8       264
2  tt0000005            6.2      2647
3  tt0000006            5.0       182
4  tt0000007            5.4       829