In [1]:
import os
import pandas as pd

In [2]:
os.makedirs('Data/',exist_ok=True) # Confirm folder created
os.listdir("Data/")

['title_akas.csv.gz', 'title_basics.csv.gz', 'title_ratings.csv.gz']

In [3]:
url1="https://datasets.imdbws.com/title.ratings.tsv.gz"
url2="https://datasets.imdbws.com/title.akas.tsv.gz"
url3="https://datasets.imdbws.com/title.basics.tsv.gz"

In [4]:
ratings  = pd.read_csv(url1, sep='\t', low_memory=False)
akas  = pd.read_csv(url2, sep='\t', low_memory=False)
basics = pd.read_csv(url3, sep='\t', low_memory=False)

In [5]:
akas = akas[akas['region'] == 'US']

In [6]:
import numpy as np

akas = akas.replace('\\N', np.nan)

In [7]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers =basics['tconst'].isin(akas['titleId'])
keepers

0            True
1            True
2           False
3           False
4            True
            ...
10122740    False
10122741    False
10122742    False
10122743    False
10122744    False
Name: tconst, Length: 10122745, dtype: bool

In [8]:
basics = basics.replace('\\N', np.nan)

In [9]:
#Drop null runtimeMinutes/genres:
basics = basics.dropna(subset=['runtimeMinutes','genres'])

In [10]:
#Convert startYear to float:
basics['startYear'] = basics['startYear'].astype(float)

In [11]:
#Filter years 2000-2021:
basics = basics[(basics['startYear'] >= 2000) & (basics['startYear'] <= 2021)]

In [13]:
# Filter out documentaries
is_documentary = basics['genres'].str.contains('documentary', case=False)
basics = basics[~is_documentary]

In [14]:
# Filter out documentaries
basics = basics[basics['titleType'] == 'movie']
print(basics.info())

<class 'pandas.core.frame.DataFrame'>
Index: 139031 entries, 34800 to 10122685
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          139031 non-null  object
 1   titleType       139031 non-null  object
 2   primaryTitle    139030 non-null  object
 3   originalTitle   139030 non-null  object
 4   isAdult         139031 non-null  object
 5   startYear       139031 non-null  float64
 6   endYear         0 non-null       object
 7   runtimeMinutes  139031 non-null  object
 8   genres          139031 non-null  object
dtypes: float64(1), object(8)
memory usage: 10.6+ MB
None

In [15]:
basics = basics[keepers]
basics

C:\Users\jezep\AppData\Local\Temp\ipykernel_15664\3967613893.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  basics = basics[keepers]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34800,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
61112,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
67486,tt0068865,movie,Lives of Performers,Lives of Performers,0,2016.0,NaN,90,Drama
67664,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
80549,tt0082328,movie,Embodiment of Evil,Encarnação do Demônio,0,2008.0,NaN,94,Horror
...,...,...,...,...,...,...,...,...,...
10121884,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019.0,NaN,74,Drama
10122278,tt9915872,movie,The Last White Witch,Boku no kanojo wa mahoutsukai,0,2019.0,NaN,97,"Comedy,Drama,Fantasy"
10122418,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama
10122427,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller"
10122511,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History"

In [ ]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keeper =ratings['tconst'].isin(akas['titleId'])
keeper

In [ ]:
ratings = ratings[keeper]
ratings

In [ ]:
## Save current dataframe to file.
basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)

In [ ]:
# Open saved file and preview again
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics.head()

In [ ]:
## Save current dataframe to file.
akas.to_csv("Data/title_akas.csv.gz",compression='gzip',index=False)

In [ ]:
# Open saved file and preview again
akas = pd.read_csv("Data/title_akas.csv.gz", low_memory = False)
akas.head()

In [ ]:
## Save current dataframe to file.
ratings.to_csv("Data/title_ratings.csv.gz",compression='gzip',index=False)

In [ ]:
# Open saved file and preview again
ratings = pd.read_csv("Data/title_ratings.csv.gz", low_memory = False)
ratings.head()